.slideshow-container {
    text-align: center;
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  .mySlides {
    display: none;
  }
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    text-transform: uppercase;
    padding: 8px 12px;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

 
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }


  .slider_img img {
    height: 550px;
  }
  
  @-webkit-keyframes fade {
    from {opacity: 0.4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: 0.4}
    to {opacity: 1}
  }